<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app">
        <h1>{{message}}</h1>

        <section class="comments"></section>
        <comment-component 
        v-for="comment in comments"
        :key="comment.name"
        :name="comment.name"
        :photo="comment.photo"
        :comment="comment.comment"></comment-component>
        </section>

        <input v-model="mycomment" 
        placeholder="Type Message In here" 
        v-on:keyup.enter="submit"/>
    </div>



    <script>
        const Comment = {
            template: `
            <article class="comment">
            <a class="comment-img" href="#non">
                <img :src="photo" alt="" width="50" height="50">
            </a>
            <div class="comment-body">
                <div class="text">
                    <p>
                    {{comment}}
                    </p>
                </div>
                <p class="attribution">by <a href="#non">{{name}}</a> at 14:23pm December 5</p>
            </div>
            </article>`,
            props: ['photo', 'comment', 'name']

        };

        new Vue({
            el: "#app",
            data() {
                return {
                    message: 'Hello World',
                    comments: [
                        {name: 'Matthew', comment: 'Hey there!', photo:'https://static.pexels.com/photos/413444/pexels-photo-413444.jpeg'},
                        {name: 'Candace', comment: 'Heya Back!', photo:'https://static.pexels.com/photos/37533/studio-portrait-woman-face-37533.jpeg'},
                        {name: 'Matthew', comment: 'Do you like Sneks?', photo:'https://static.pexels.com/photos/413444/pexels-photo-413444.jpeg'},
                        {name: 'Candace', comment: 'Do you like Sneks?', photo:'https://static.pexels.com/photos/37533/studio-portrait-woman-face-37533.jpeg'}
                    ],
                    mycomment: ''
                }
            },
            components: {
                'comment-component': Comment
            },
            methods: {
                submit() {
                    this.comments.push({name: 'Matthew', comment: this.mycomment,
                    photo: "https://static.pexels.com/photos/413444/pexels-photo-413444.jpeg"});
                    //reset input box
                    this.mycomment = "Type Message In Here";
                }
            }

        });
    </script>
</body>

</html>